<link rel="stylesheet" href="../static/styles/styles.css">
{% extends 'base.html' %}
{% block body %}
<section class="page">
    <div class="pageBody">
        <h2 class="title">Account Information</h2>
        <div class="accountContainer">
            <table class="accountTable">
                <tr class="tableRow">
                    <th class="accountHeader">Account number</th>
                    <th class="accountHeader">Name</th>
                    <th class="accountHeader">Username</th>
                </tr>
                <tr class= "accounts tableRow">
                    <td class="accountData">{{ accounts[0] }}</td>
                    <td class="accountData">{{ accounts[1] }}</td>
                    <td class="accountData">{{ accounts[2] }}</td>
                </tr>
            </table>
            <table class="accountTable contact">
                <tr class="tableRow">
                    <th class="accountHeader">Email</th>
                    <th class="accountHeader">Phone number</th>
                </tr>
                <tr class="tableRow">
                    <td class="accountData">Email here</td>
                    <td class="accountData">{{ accounts[3] }}</td>
                </tr>
            </table>
            <table class="accountTable address">
                <tr>
                    <th class="accountHeader">Address</th>
                </tr>
                <tr>
                    <td class="accountData">{{ address[0] }}</td>
                </tr>
            </table>
        </div>
    </div>
</section>
{% endblock %}