<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/318fe15147.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/base.css">
    <title>Coinnect</title>
    <link rel="icon" type="image/png" href="../static/images/logo.png">
</head>
<body>
    <header class="header">
        <div class="headerContainer">
            <div class="headerItem logoContainer">
                <img src="../static/images/logo-white.png" alt="logo" class="headerLogo">
                <h3>Coinnect</h3>
            </div>
            <div class="headerItem">
                <ul class="headerMenu">
                    <li class="headerMenuItem"><a href="">Apply</a></li>
                    <li class="headerMenuItem"><a href="">Log in</a></li>
                    <li class="headerMenuItem"><a href="/account">View account</a></li>
                    <li class="headerMenuItem"><a href="">View balance</a></li>
                </ul>
            </div>
        </div>
    </header>
    {% block body %}
    {% endblock %}
    <footer class="footer">
        <div class="footerContainer">
            <div class="footerItem">
                <ul class="footerMenu">
                    <li class="footerMenuItem">Privacy</li>
                    <li class="footerMenuItem">Cookies</li>
                    <li class="footerMenuItem">Terms</li>
                    <li class="footerMenuItem">Contact</li>
                </ul>
            </div>
            <div class="footerItem">
                <p class="legal"><span>&#169</span> 2025 Coinnect Inc.</p>
            </div>
            <div class="footerItem">
                <ul class="footerMenu">
                    <li class="footerMenuItem"><i class="fa-brands fa-google"></i></li>
                    <li class="footerMenuItem"><i class="fa-brands fa-stripe-s"></i></li>
                    <li class="footerMenuItem"><i class="fa-brands fa-paypal"></i></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>