*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-1: #112250;
    --color-2: #3c5070;
    --color-3: #5b7194;
    --color-4: #e0c58f;
    --color-5: #d9cbc2;
    --color-6: #f5f0e9;
    --font-main: 'Asap Condensed';
}


/* ------------------- */
/* -- HEADER STYlES -- */
/* ------------------- */

.header{
    background-color: var(--color-1);
    padding: 10px 30px;
    height: 200px;
    width: 100%;
    font-family: var(--font-main);
    color: var(--color-6);
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer > h3{
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

.headerLogo{
    height: 80px;
}

.headerMenu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.headerMenuItem{
    margin: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
}


/* ------------------- */
/* -- FOOTER STYLES -- */
/* ------------------- */

.footer{
    margin-top: 20px;
    background-color: var(--color-1);
    padding: 10px 30px;
    height: 200px;
    width: 100%;
    font-family: var(--font-main);
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.legal{
    color: var(--color-3);
}

.footerMenu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footerMenuItem{
    margin: 0 10px;
    text-transform: uppercase;
    color: var(--color-6);
    font-size: 15px;
}

.footerMenuItem:hover{
    color: var(--color-4);
}

.footerMenuItem > .fa-brands{
    margin: auto 10px;
    color: var(--color-6);
    font-size: 18px;
}

.footerMenuItem > .fa-brands:hover{
    color: var(--color-4);
}