*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-dark-blue: #112250;
    --color-med-blue: #3c5070;
    --color-light-blue: #8798b4;
    --color-pink: #975281;
    --color-cream: #d9cbc2;
    --color-white: #f5f0e9;
    --font-main: 'Asap Condensed';
    --page-height: calc(100vh - 200px);
}


/* ------------------- */
/* -- HEADER STYlES -- */
/* ------------------- */

.header{
    background-color: var(--color-dark-blue);
    padding: 10px 30px;
    height: 100px;
    width: 100%;
    font-family: var(--font-main);
    color: var(--color-white);
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logoContainer > h3{
    margin-left: 10px;
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 40px;
    font-weight: 400;
}

.headerLogo{
    height: 70px;
}

.headerMenu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.headerMenuItem{
    margin: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.headerMenuItem > a{
    color: var(--color-white);
    text-decoration: none;
}

.headerMenuItem > a:hover{
    color: var(--color-pink);
}


/* ------------------- */
/* -- FOOTER STYLES -- */
/* ------------------- */

.footer{
    background-color: var(--color-dark-blue);
    padding: 10px 30px;
    height: 100px;
    width: 100%;
    font-family: var(--font-main);
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.legal{
    color: var(--color-light-blue);
}

.footerMenu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footerMenuItem{
    margin: 0 10px;
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 15px;
}

.footerMenuItem:hover{
    color: var(--color-pink);
}

.footerMenuItem > .fa-brands{
    margin: auto 10px;
    color: var(--color-white);
    font-size: 18px;
}

.footerMenuItem > .fa-brands:hover{
    color: var(--color-pink);
}