@import url(base.css);

/* --------------------- */
/* -- REUSABLE STYLES -- */
/* --------------------- */

body{
    background-color: var(--color-white);
}

.page{
    background-image: linear-gradient(#112250b3, #11225059), url(https://imageio.forbes.com/specials-images/imageserve/60eda0efdccb85252c59d7a9/0x0.jpg?format=jpg&height=900&width=1600&fit=bounds);
    background-size: contain;
    min-height: var(--page-height);
}

.pageBody{
    margin: 0 auto;
    background-color: var(--color-light-blue);
    padding: 40px;
    min-height: var(--page-height);
    max-width: 1000px;
    font-family: var(--font-main);
}

.title{
    margin: 0 auto;
    width: fit-content;
    text-transform: uppercase;
    color: var(--color-dark-blue);
    font-size: 38px;
}

.btn {
    font-family: var(--font-main);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    border-top: 1px solid var(--color-med-blue);
    border-left: 1px solid var(--color-med-blue);
    border-bottom: 1px solid var(--color-dark-blue);
    border-right: 1px solid var(--color-dark-blue);
    padding: .25rem;
    text-decoration: none;
}

.btn:hover {
    transition: background-color 0.2s;
    background-color: var(--color-med-blue);
}


/* ----------------- */
/* -- HOME STYLES -- */
/* ----------------- */

.greeting{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: fit-content;
    color: var(--color-dark-blue);
    font-size: 18px; 
}

.cta{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100px;
    color: var(--color-pink);
    text-decoration: none;
}


/* -------------------- */
/* -- ACCOUNT STYLES -- */
/* -------------------- */

.accountContainer{
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
}

.accountTable{
    width: 100%;
    color: var(--color-med-blue);
    font-size: 22px;
}

.tableRow > th,
.tableRow > td{
    width: 33%;
}

table, th, td{
    border: 1px solid var(--color-dark-blue);
    background-color: var(--color-white);
}

.contact,
.address{
    margin-top: 25px;
}


/* -- send money btn styles -- */

.moneyBtnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
}

.add-money-btn{
    margin: 40px auto;
    border: none;
    border-radius: 5px;
    background-color: var(--color-dark-blue);
    padding: 10px;
    width: fit-content;
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 18px;
}

/* ------------------ */
/* -- LOGIN STYLES -- */
/* ------------------ */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-main);
}

.login-form label {
    font-size: 1.3rem;
    margin-bottom: .25rem;
}

.login-form input[type='text'],
.login-form input[type='password'],
.login-form select {
    font-family: var(--font-main);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 300px;
}

.login-form input[type='submit'] {
    font-family: var(--font-main);
    font-size: 1.3rem;
    color: var(--color-white);
    background-color: var(--color-dark-blue);
    border-top: 1px solid var(--color-med-blue);
    border-left: 1px solid var(--color-med-blue);
    border-bottom: 1px solid var(--color-dark-blue);
    border-right: 1px solid var(--color-dark-blue);
    margin-top: .5rem;
    padding: 1rem;
    width: 300px;
}

.login-form input[type='submit']:hover {
    transition: background-color 0.2s;
    background-color: var(--color-med-blue);
}

/* ------------------- */
/* -- SIGNUP STYLES -- */
/* ------------------- */

.signup-admin {
    font-weight: 500;
}

/* ------------------------ */
/* -- APPLICATION STYLES -- */
/* ------------------------ */

.appli-container {
    display: flex;
    flex-wrap: wrap;
}

.appli {
    background-color: var(--color-med-blue);
    height: min-content;
    width: calc(33% - 20px);
    margin: 10px;
}

.appli-tr td,
.appli-td {
    background-color: var(--color-light-blue);
    padding: 4px;
}


.appli-btn {
    display: block;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: 0;
}
.add-money-btn:hover{
    background-color: var(--color-pink);
}


/* --------------------- */
/* -- SEND MONEY FORM -- */
/* --------------------- */

.addMoneyContainer{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 700px;
}

.moneyItemSection:first-child{
    align-self: flex-start;
    margin-top: 27px;
}

.moneyItemSection{
    margin: auto 20px;
}

.moneyItemSection > img{
    width: 340px;
}

.addMoneyForm{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    font-size: 18px;
}

.moneyItem{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5px auto;
    height: 76px;
    width: 100%;
}

#accountNum,
#name,
#cardNum,
#expiration,
#codeNum,
#moneyAmount{
    height: 30px;
}

#cardNum{
    padding-right: 2.5rem;
}

i#cardImg{
    position: relative;
    top: -15;
    right: -10.5rem;
    transform: translateY(-50%);
    color: var(--color-dark-blue);
    padding-left: 10px;
    font-size: 25px;
}

#submitBtn{
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 13px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-dark-blue);
    padding: 10px 10px;
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 16px;
    cursor: pointer;
}
#submitBtn:hover{
    background-color: var(--color-pink);
}